.favorite-floating {
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 2;
  }
  
  .favorite-circle {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  